*{padding: 0; margin: 0;}


header{
    width: 1519px;
    height: 97vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(pics/portfolio_06.jpg);

}

.first_line{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}


.second{
    padding-left: 700px;
}


.blank{
    background-color: rgb(196, 204, 211);
    width: 1515px;
    height: 2px;
    margin: 3px;
}


nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.main{
    font-size: 20px;
    color: rgb(19, 104, 179);
    margin: 5px;
}
.menu{
    margin: 6px;
}

.menu a{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    transition: all 0.4s ease-in-out ;
}

.menu a:hover{
    border-radius: 30px;
    transform: translateY(100px);
    background-color: black;
    color: aqua;
    box-shadow: 0 6px 12px 0 blue;
}

.register button{
    background-color: rgb(224, 101, 24);
    color: azure;
    border-radius: 10px;
    border: none;
    padding:  10px;
    cursor:wait;
    box-shadow:  0 16px 25px 0 black, 0 14px 16px 0 orangered ;
}

.content{
    padding-top:120px ;
    padding-left: 300px;
    margin-bottom: 250px;
}

.content h1{
    font-size: 45px;
}

.content p{
    padding: 15px;
}

.content button{
    background-color: rgb(2, 89, 189);
    color: azure;
    border: none;
    border-radius: 10px;
    padding:  10px;
    cursor: pointer;
    box-shadow:  0 16px 25px 0 rgb(30, 129, 181), 0 14px 16px 0 black ;

}

.box{
    padding: 20px;
    display: flex;
    text-align: left;
    
}


.box fieldset{
    padding: 20px;
    margin: 30px;
    background-color: crimson;
    color: aliceblue;
    box-shadow: 0 3px 10px  black;
}

.box h1{
    padding: 5px;
}

.box h3{
    padding: 4px;
}

.box p{
    padding: 6px;
    padding-bottom: 19px;
}

.nav2{
    display:inline-block;
    margin: 250px;
    margin-left: 330px;
    padding-top: 200px;
}

.nav2 p{
    padding: 8px;
    text-align: center;
    font-size:40px ;
    -webkit-text-stroke: 2px red;
}


.nav2 h1{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.nav2 h1::before{
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: 4px rgb(222, 246, 1);
    overflow: hidden;
    height: 80px;
    border-radius: 10px;
    background-color: black;
    animation: thugs 4.5s linear infinite;
}

@keyframes thugs{
    
    0%, 10% ,100%{
        width: 0 ;
    }

    70%, 100%{
        width:104%;
    }

}



.field{
    display: flex;
    margin-bottom: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.field h6{
    padding: 15px;
    color: blue;
}



.field2 h6{
    color: red;
}
.field3 h6{
    color: orange ;
}
.field4 h6{
    color: green;
}
.field5 h6{
    color: blueviolet;
}



.field1{
    background-color: black;
    color: aliceblue;
    border: 3px aqua solid;
    border-radius: 3px;
    padding: 5px;
    width: 300px;
    height: 140px;
    margin: 15px;
    box-shadow: 0 16px 22px 0 black;
}

.field2{
    background-color: black;
    color: aliceblue;
    border: 3px aqua solid;
    border-radius: 3px;
    padding: 5px;
    width: 300px;
    height: 140px;
    margin: 15px;
    box-shadow: 0 16px 22px 0 red;
}

.field3{
    background-color: black;
    color: aliceblue;
    border: 3px aqua solid;
    border-radius: 3px;
    padding: 5px;
    width: 300px;
    height: 140px;
    margin: 15px;
    box-shadow: 0 16px 22px 0 orange;
}

.field4{
    background-color: black;
    color: aliceblue;
    border: 3px aqua solid;
    border-radius: 3px;
    padding: 5px;
    width: 300px;
    height: 140px;
    margin: 15px;
    box-shadow: 0 16px 22px 0 green;
}

.field5{
    background-color: black;
    color: aliceblue;
    border: 3px aqua solid;
    border-radius: 3px;
    padding: 5px;
    width: 300px;
    height: 140px;
    margin: 15px;
    box-shadow: 0 16px 22px 0 blueviolet;
}


.wall2_and_content{
    display: flex;
    padding-top: 200px;
}


.wall2{
    background-image: url(pics/Open-Heart-Surgery-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 60vh;
    border: 5px black solid;

}

.img_content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left : 20px;
    margin-top: 24px;
}

.img_content h1{
    color: dodgerblue;
}


.img_content h4{
    padding: 15px 0;
}

.wall2 button{
    width: 150px;
    height: 30px;
    background-color: rgb(36, 200, 140);
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 300px;
    margin-left: 550px;
}


.img_content p{
    width: 150px;
    height: 20px;
    background-color: orangered;
    color: aliceblue;
    border: 4px orangered solid;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    cursor: wait;
}



.nav3{
    margin-top: 150px;
    background-color: lightslategray;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 100px;
}

.nav3 h4{
    padding-top: 100px;

}

.line{
    background-color: aqua;
    width: 240px;
    height: 2px;
    margin: 10px;
    margin-left: 640px;
}



.main1{
    display: flex;
    margin: 50px;
}



.img1{
    background-image: url(pics/wp2406521-dark-web-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 60px;
    border-radius: 70%;
    margin-top: 15px;
}

.content1{
    margin-right: 20%;
    
}
.img2{
    background-image: url(pics/wp2406521-dark-web-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 60px;
    border-radius: 70%;
    margin-top: 15px;
}



.main2{
    display: flex;
    margin: 50px;
}

.img3{
    background-image: url(pics/wp2406521-dark-web-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 60px;
    border-radius: 70%;
    margin-top: 15px;
}

.content3{
    margin-right: 20%;
    
}
.img4{
    background-image: url(pics/wp2406521-dark-web-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 60px;
    border-radius: 70%;
    margin-top: 15px;
    margin-bottom: 150px;
}

.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: orangered;
    color: aliceblue;
    width: 140px;
    margin-left: 690px;
    cursor: progress;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgb(1, 255, 18);
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    transform: translateY(-10px);
    background-color: chartreuse;
    color: black;
}

.nav4{
    background-color: rgb(0, 128, 220);
    color: aliceblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px black solid;
}

.nav4_main p{
    padding-top: 100px;
    font-size: 15px;
}

.nav4_main h2{
    font-size: 35px;
    letter-spacing: 1px;
    padding-bottom: 90px;
}

.nav4_menu a{
    padding: 10px;
    margin: 25px;
    text-decoration: none;
    justify-content: space-around;
    color: rgb(255, 255, 255);
}

.nav4_menu a:hover{
    background-color: aliceblue;
    color: rgba(0, 132, 255, 0.966);
    border-radius: 50%;
}



.wall_and_cont{ 
    border: 1px black solid;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.wall4{
    background-image: url(pics/wall2.jpeg);
    background-size: cover;
    background-position: center;
    width: 1700px;
    height: 400px;

}
.cont4{
    background-color: aliceblue;
    color: black;
    text-align: left;
    padding-top: 60px;
    padding-left: 40px;
}

.cont4 p{
    padding-top:20px ;
    padding-bottom:20px ;
}

.cont4 h4{
    background-color: rgb(255, 68, 0);
    color: aliceblue;
    width: 180px;
    height:26px;
    text-align: center;
    padding-top: 10px;
    font-size:12px;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0);
}


.nav5{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 200px;
}


.heading5{
    margin-left: 300px;
    padding-right: 60px;
}


.line5{
    background-color: blue;
    width: 190px;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.doctors a{
    text-decoration: none;
}

.doctors_btn h4{
    background-color:orange;
    color: aliceblue;
    width: 180px;
    height:26px;
    text-align: center;
    padding-top: 10px;
    font-size:12px;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0);
}

.img5{
    background-image: url(pics/jhonny.webp);
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
}

.line5_second{
    background-color: crimson;
    width: 134px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.img_about5{
    text-align: left;
    margin-left: 50px;
}

.img_about5 h2{
    color: rgb(0, 140, 255);
    font-size: 30px;
}
